.footer {
    background-color: #1B262F;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list {
        display: flex;
        margin-right: 500px;
    }
    &__link {
        margin-right: 40px;
        display: block;
        font-size: 15px;
        line-height: 18px;
        color: #FBFCFE;
        mix-blend-mode: normal;
        opacity: 0.7;
    }
    &__icon {
        margin-right: 24px;
        &:active {
            path {
                fill: #DA6D97;
            }
        }
    }
}